/* About Section Styles */
.about-section {
    @apply w-full bg-surface pt-12 px-4 relative overflow-hidden;
}

.about__container {
    @apply container mx-auto py-12 md:py-16 lg:py-24 flex flex-col gap-8 xl:flex-row lg:gap-12 xl:gap-[146px] md:justify-start md:items-start lg:items-center; /* Increased gap-x for desktop */
}

.about__title {
    @apply text-[#36569f] text-[32px] md:text-[64px] font-normal font-ura uppercase leading-9 md:leading-[0.95] text-left md:mb-10; /* Added responsive line-height */
}

.about__description {
    @apply text-contrast text-[18px] md:text-[20px] font-light font-geologica leading-[1.5] md:max-w-full lg:max-w-[690px] py-6 pl-3 md:py-0 md:pl-0;
}
.about__description p{
    @apply justify-start text-[#19232e] text-base md:text-[20px] font-light font-['Geologica'] leading-6 md:leading-[1.5] lg:text-[23px] lg:leading-[34.50px] md:mb-4;
}

.about__stats {
    @apply flex flex-row flex-wrap gap-2 md:gap-4 mt-4 md:mt-0 xl:flex-col xl:mt-0 md:w-full md:max-w-[720px] xl:max-w-[573px];
}

.about__stat-card {
    @apply py-4 md:py-4 rounded-[20px] flex flex-col md:flex-row xl:flex-row justify-start px-4 md:pl-8 md:pr-0 xl:px-10 items-start md:items-center gap-3 md:gap-10 xl:gap-[56px] text-white;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .ebabaya-kartinka {
        object-position: center 70%;
    }
}


.about__stat-card-number {
    @apply text-[50px] md:text-[40px] lg:text-[50px] xl:text-[60px] font-normal font-ura uppercase leading-[0.95] md:w-[120px] lg:w-[223px];
}

.about__stat-card-text {
    @apply text-[18px] font-normal font-geologica leading-[1.5];
}

.about-section-part2__container {
    @apply  container mx-auto flex flex-col lg:flex-row sm:items-center lg:gap-12;
}
.about-section-part2__image-wrapper {
    @apply  relative w-full xl:w-[787px] xl:min-w-[787px] lg:min-w-[380px] xl:max-w-full xl:h-[522px] rounded-[20px] overflow-hidden
}