/* About Section Styles */
.about-section {
    @apply w-full bg-surface pt-12 px-4 relative overflow-hidden;
}

.about__container {
    @apply container mx-auto py-12 lg:py-24 flex flex-col gap-8 lg:flex-row xl:gap-[146px] lg:justify-start lg:items-center; /* Increased gap-x for desktop */
}

.about__title {
    @apply text-[#36569f] text-[32px] font-normal font-ura uppercase leading-9 text-left lg:text-left lg:text-left lg:text-[64px] lg:leading-[0.95]; /* Added responsive line-height */
}

.about__description {
    @apply text-contrast text-[16px] font-light font-geologica leading-[1.5] lg:max-w-[690px] py-6 pl-3 lg:py-0 lg:pl-0;
}
.about__description p{
    @apply justify-start text-[#19232e] text-base font-light font-['Geologica'] leading-6  lg:text-[23px]  lg:leading-[34.50px] lg:mb-4;
}

.about__stats {
    @apply flex flex-row flex-wrap gap-2 mt-4 xl:flex-col lg:gap-4 xl:mt-0 xl:w-full max-w-[573px];
}

.about__stat-card {
    @apply py-4  rounded-[20px] flex flex-col lg:flex-row justify-start  px-4 xl:px-10 items-start gap-3 xl:gap-[56px] text-white lg:w-full lg:gap-[56px];
}

.about__stat-card-number {
    @apply text-[50px] xl:text-[60px] font-normal font-ura uppercase leading-[0.95] lg:w-[223px];
}

.about__stat-card-text {
    @apply text-[16px] font-normal font-geologica leading-[1.5];
}

.about-section-part2__container {
    @apply  container mx-auto flex flex-col lg:flex-row sm:items-center lg:gap-12;
}
.about-section-part2__image-wrapper {
    @apply  relative w-full xl:w-[787px] xl:min-w-[787px] lg:min-w-[380px] xl:max-w-full xl:h-[522px] rounded-[20px] overflow-hidden
}