/* About Section Styles */
.about-section {
    @apply w-full bg-surface pt-12 px-4 relative overflow-hidden;
}

.about__container {
    @apply container mx-auto lg:py-20 flex flex-col gap-8 md:flex-row md:gap-x-24 md:justify-between; /* Increased gap-x for desktop */
}

.about__title {
    @apply text-[#36569f] text-[32px] font-normal font-ura uppercase leading-9 text-center md:text-left md:text-[64px] md:leading-[0.95]; /* Added responsive line-height */
}

.about__description {
    @apply text-contrast text-[16px] font-light font-geologica leading-[1.5] max-w-[690px];
}
.about__description p{
    @apply justify-start text-[#19232e] text-base font-light font-['Geologica'] leading-6  lg:text-[23px]  lg:leading-[34.50px];
}

.about__stats {
    @apply flex flex-col gap-4 mt-4 md:mt-0; /* Change gap to 4 for desktop, was 2 on mobile */
}

.about__stat-card {
    @apply p-4 rounded-[20px] flex flex-col lg:flex-row justify-start  px-4 items-start gap-3 text-white w-full lg:gap-[56px]; /* w-full for desktop */
}

.about__stat-card-number {
    @apply text-[50px] font-normal font-ura uppercase leading-[0.95] lg:w-[263px];
}

.about__stat-card-text {
    @apply text-[16px] font-normal font-geologica leading-[1.5];
}
