/* About Section English Styles */

.about-en-section {
    @apply w-full bg-secondary relative z-20 pt-12 lg:pt-32 pb-0 px-4 overflow-hidden;
}

.about-en__container {
    @apply container mx-auto py-12 md:py-16 lg:py-24 flex flex-col gap-8 xl:flex-row lg:gap-12 xl:gap-[146px];
}

.about-en__title {
    @apply text-[32px] md:text-[64px] font-normal font-ura uppercase leading-9 md:leading-[0.95] text-left;
}

.about-en__description {
    @apply text-[18px] md:text-[23px] font-light font-geologica leading-[1.5] md:max-w-[690px] pt-4 md:pt-0;
}

.about-en__impact {
    @apply w-full;
}

.about-en__impact-title {
    @apply text-[32px] md:text-[64px] font-normal font-ura uppercase leading-9 md:leading-[0.95] text-left mt-10 md:mt-0;
}

.about-en__stats {
    @apply flex flex-col gap-3 md:gap-4 mt-8 md:mt-8;
}

@media (min-width: 768px) {
    .about-en__stats {
        @apply grid grid-cols-2 gap-4 mt-8;
    }
}

@media (min-width: 1024px) {
    .about-en__stats {
        @apply flex flex-col gap-4;
    }

    .about-en-section {
        @apply pt-12 lg:pt-0;
    }

    .about-en__container {
        @apply items-center;
    }

    .about-en__impact {
        @apply w-full;
    }

    .about-en__impact-title {
        @apply mb-6;
    }
}

.about-en__stat-card {
    @apply rounded-[20px] p-4 md:p-8 lg:p-8 flex flex-col gap-3 md:gap-4 text-white;
}

.about-en__stat-number {
    @apply text-[50px] md:text-[60px] font-normal font-ura uppercase leading-[0.95];
}

.about-en__stat-text {
    @apply text-[16px] md:text-[18px] font-normal font-geologica leading-[1.5] text-white;
}
