/* Friends slider card transitions */

/* Скрываем цитату в неактивных слайдах */
.friends__slider .swiper-slide:not(.swiper-slide-active) .friends__card-quote {
    opacity: 0;
}

.friends__slider .swiper-slide-active .friends__card-quote {
    opacity: 1;
}



/* Делаем неактивные слайды чёрно-белыми (на планшетах и десктопе) */
@media (min-width: 768px) {
    .friends__slider .swiper-slide:not(.swiper-slide-active) .friends__card-image-wrap {
        filter: grayscale(100%);
    }

    .friends__slider .swiper-slide-active .friends__card-image-wrap {
        filter: grayscale(0%);
    }
}

.friends__card {
    @apply h-full flex flex-col gap-6 sm:max-h-[600px] md:max-h-[522px] xl:max-h-full;
}
.friends__slider {
    @apply sm:max-h-[600px] md:max-h-[522px] xl:max-h-full;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .friends__slider-area {
        overflow: hidden;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .swiper-container-wrapper {
        max-width: none !important;
        width: 100%;
    }

    .friends__slider {
        overflow: visible !important;
    }

    .friends__slider .swiper-slide {
        width: 348px !important;
    }
}