.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:90px;
    padding-inline:calc(var(--spacing)*5);
    background-repeat: no-repeat;
    background-position:top;
}
.page-head-description{
    color:#19232E;
}
.page-head-wrapper h1{
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}
@media(max-width:967px){
    .page-head-wrapper{
        flex-direction:column;
    }
    .page-head-description{
        display:none;
    }
    .page-head-wrapper h1{
        padding-top:60px;
        padding-bottom:0;
        font-size:64px;
        text-align: center;
    }
}
@media(max-width:710px){
    .page-head-wrapper h1{
        font-size: 48px;
    }
    .page-head-wrapper{
        padding-bottom:0;
    }
}
@media(max-width:520px){
    .page-head-wrapper h1{
        font-size: 32px;
    }
    .page-head-wrapper{
        background-position-x: right;
        background-size: cover;
        background-position-y: 60px;
    }
}