.donate-description{
    padding-top:15px;
    padding-bottom:32px;
    color:#fff;
    font-family: Geologica;
    font-size:23px;
    line-height:150%;
}
.donate-description p{
    max-width: 930px;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}
.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
    padding-inline:calc(var(--spacing)*5);
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-position-y: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
}
.page-head-description{
    color:#19232E;
    line-height:150%;
}
.page-head-wrapper h1{
    padding-top:30px;
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}
@media(max-width:1400px){
    .page-head-wrapper{
        padding-left: var(--wp--preset--spacing--50);
        padding-right: var(--wp--preset--spacing--50);
    }
}
.bloglist-content{
    margin:auto;
    margin-bottom: 90px;
}
.bloglist-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-item{
    width:calc(100% / 3 - 12px);
    margin-bottom: 24px;
}
.blog-item h3{
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    margin: 0 0 16px 0;
}
.post-meta time{
    display:flex;
    font-family: "Geologica";
    font-size: 14px;
    color: #6063A6;
    font-weight: 300;
    margin-bottom: 16px;
    align-items: center;
}
.post-excerpt{
    font-family: Geologica;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1E1E1E;
}
.post-content{
    padding: 16px;
    background: #fff;
}
.post-thumbnail img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
@media(max-width:1000px){
    .page-head-wrapper{
        flex-direction:column;
    }
    .page-head-description{
        display:none;
    }
    .page-head-wrapper h1{
        padding-top:60px;
        padding-bottom:0;
        font-size:64px;
        text-align: center;
    }
}
@media(max-width:710px){
    .page-head-wrapper h1{
        font-size: 48px;
    }
    .page-head-wrapper{
        padding-bottom:0;
    }
}
@media(max-width:520px){
    .page-head-wrapper{
        padding-top: 0;
        background-size: 220%;
        background-position-x: 108%;
        background-position-y: 35%;
    }
    .page-head-wrapper h1{
        padding-top: 30px;
        max-width: 290px;
        text-align: center;
    }
    .page-head-wrapper h1{
        font-size: 32px;
    }
    .page-head-picture img{
        max-width:110%;
        margin-left:-5%;
    }
}