.donate-description{
    padding-top:15px;
    padding-bottom:32px;
    color:#fff;
    font-family: Geologica;
    font-size:23px;
    line-height:150%;
}
.donate-description p{
    max-width: 930px;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}
.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
    padding-inline:calc(var(--spacing)*5);
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-position-y: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
}
.blog-page .page-head-wrapper{
    justify-content: space-evenly;
}
.blog-page .page-head-picture img{
    margin-top: -30px;
}
.blog-page .page-head-title{
    padding-top: 20px;
}
.blog-page .page-head-title{
    font-size: 180px;
}
.page-head-description{
    color:#19232E;
    line-height:150%;
}
.page-head-wrapper h1{
    padding-top:30px;
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}
.bloglist-content{
    margin:auto;
    margin-bottom: 160px;
    padding-top:35px;
    background-image: url(/wp-content/themes/tebe-poveryat/assets/images/bloglist-bg.png);
    background-repeat: no-repeat;
    background-position: 88% 95%;
}
.bloglist-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-item{
    width:calc(100% / 3 - 12px);
    margin-bottom: 24px;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-item h3{
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    margin: 0 0 16px 0;
}
.load-more-btn{
    color: #6063A6;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    padding:16px 110px;
    border: 1px solid #6063A6;
    border-radius: 40px;
    cursor: pointer;
}
.load-more-btn:hover{
    background: #6063A6;
    color: #fff;
}
.load-more-container{
    text-align: center;
}
.post-meta time{
    display:flex;
    font-family: "Geologica";
    font-size: 14px;
    color: #6063A6;
    font-weight: 300;
    margin-bottom: 16px;
    align-items: center;
}
.post-meta time span{
    padding-left: 4px;
}
.post-excerpt{
    font-family: Geologica;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1E1E1E;
}
.post-content{
    padding: 16px;
    background: #fff;
}
.post-thumbnail img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.posts-sort{
    margin-bottom: 40px;
}
.sort-select{
    border-radius: 40px;
    border: 1px solid #6063A666;
    color: #1E1E1E;
    font-size: 20px;
    padding: 8.2px 20px;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/wp-content/themes/tebe-poveryat/assets/images/arrow-sort.svg);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 16px;
    width: 324px;
    font-family: "Akrobat";
}
.page-head-btn{
    text-align: right;
    position: absolute;
    right: 24px;
}
.page-head-btn{
    background: #6063A6;
    color: #fff;
    border-radius: 40px;
    padding: 20px 57px;
    font-family: "Geologica";
    font-size: 18px;
    line-height: 150%;
    border:1px solid #6063A6;
    cursor: pointer;
    text-transform: uppercase;
}
.page-head-btn:hover{
    background: #fff;
    color: #6063A6;
}
.blog-single{
    margin-bottom: 160px;
}
.back-blog-button{
    margin: 40px auto 0 auto;
    max-width: 1170px;
}
.back-blog-button a{
    color:#6063A6;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    padding: 16px 36.5px;
    border-radius:50px;
    border: 1px solid #6063A6;
    cursor: pointer;
}
.back-blog-button a:hover{
    background: #6063A6;
    color: #fff;
}
/*
    Анкета (форма с календарём)
*/
.fieldCalendarServicefieldname1_1{
    display: none;
}
#fbuilder #fieldlist_1 .pb0.pbreak{
    display: flex;
    flex-wrap: wrap;
}
#field_1-0{order:70;}
#field_1-1{order:0;}
#field_1-2{order:10;}
#field_1-3{order:20;}
#field_1-4{order:40;}
#field_1-5{order:30;}
#field_1-6{order:50;}
#field_1-7{order:60;}
.calendar-col-1 input{
    width:100%;
    max-width: 394px;
}
.fieldCalendar{
    max-width: 334px;
}
.ui-datepicker {
    font-family: "Geologica";
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
}
@media(max-width:1400px){
    .page-head-wrapper{
        padding-left: var(--wp--preset--spacing--50);
        padding-right: var(--wp--preset--spacing--50);
    }
}
@media(max-width:1100px){
    .blog-item{
        width:calc(50% - 12px);
    }
}
@media(max-width:1000px){
    .page-head-wrapper{
        flex-direction:column;
    }
    .page-head-description{
        display:none;
    }
    .page-head-wrapper h1{
        padding-top:60px;
        padding-bottom:0;
        font-size:64px;
        text-align: center;
    }
}
@media(max-width:860px){
    .blog-item{
        width:100%;
    }
    .page-head-btn{
        display:none;
    }
    .blog-page .page-head-title{
        font-size:100px;
    }
}
@media(max-width:710px){
    .page-head-wrapper h1{
        font-size: 48px;
    }
    .page-head-wrapper{
        padding-bottom:0;
    }
}
@media(max-width:520px){
    .page-head-wrapper{
        padding-top: 0;
        background-size: 220%;
        background-position-x: 108%;
        background-position-y: 35%;
    }
    .page-head-wrapper h1{
        padding-top: 30px;
        max-width: 290px;
        text-align: center;
    }
    .page-head-wrapper h1{
        font-size: 32px;
    }
    .page-head-picture img{
        max-width:110%;
        margin-left:-5%;
    }
    .blog-page .page-head-title{
        font-size:32px;
    }
    .back-blog-button{
        text-align:center;
    }
}
/*Форма и календарь, страница "Получить юридическую помощь"*/
.ahb_m4 #fbuilder .fields label {
    display: none;
}
.ahb_m4 #fbuilder .ui-datepicker-header {
    background-color: inherit;
    color: #0A1811;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-family: "Geologica";
}
