.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:90px;
    padding-inline:calc(var(--spacing)*5);
}
.page-head-wrapper h1{
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}
@media(max-width:967px){
    .page-head-wrapper{
        flex-direction:column;
    }
    .page-head-description{
        display:none;
    }
    .page-head-wrapper h1{
        padding-top:60px;
        padding-bottom:0;
        font-size:64px;
    }
}
@media(max-width:710px){
    .page-head-wrapper h1{
        font-size: 48px;
    }
    .page-head-wrapper{
        padding-bottom:0;
    }
}
@media(max-width:520px){
    .page-head-wrapper h1{
        font-size: 32px;
    }
}