.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.page-head-wrapper h1{
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}