.donate-description{
    padding-top:15px;
    padding-bottom:32px;
    color:#fff;
    font-family: Geologica;
    font-size:23px;
    line-height:150%;
}
.donate-description p{
    max-width: 930px;
    margin: auto;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}
.page-head-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 90px;
    padding-inline:calc(var(--spacing)*5);
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-position-y: 30px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
}
.blog-page .page-head-wrapper{
    justify-content: space-evenly;
}
.blog-page .page-head-picture img{
    margin-top: -30px;
}
.blog-page .page-head-title{
    padding-top: 20px;
}
.blog-page .page-head-title{
    font-size: 180px;
}
.page-head-description{
    color:#19232E;
    line-height:150%;
}
.page-head-wrapper h1{
    padding-top:30px;
    font-size:90px;
    color: var(--color-primary);
    font-weight:400;
    max-width:650px;
    line-height:95%;
    padding-bottom:40px;
}
.bloglist-content{
    margin:auto;
    margin-bottom: 160px;
    padding-top:35px;
    background-image: url(/wp-content/themes/tebe-poveryat/assets/images/bloglist-bg.png);
    background-repeat: no-repeat;
    background-position: 88% 95%;
}
.bloglist-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-item{
    width:calc(100% / 3 - 12px);
    margin-bottom: 24px;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-item h3{
    font-family: 'Akrobat';
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    margin: 0 0 16px 0;
}
.load-more-btn{
    color: #6063A6;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    padding:16px 110px;
    border: 1px solid #6063A6;
    border-radius: 40px;
    cursor: pointer;
}
.load-more-btn:hover{
    background: #6063A6;
    color: #fff;
}
.load-more-container{
    text-align: center;
}
.post-meta time{
    display:flex;
    font-family: "Geologica";
    font-size: 14px;
    color: #6063A6;
    font-weight: 300;
    margin-bottom: 16px;
    align-items: center;
}
.post-meta time span{
    padding-left: 4px;
}
.post-excerpt{
    font-family: Geologica;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #1E1E1E;
}
.post-content{
    padding: 16px;
    background: #fff;
}
.post-thumbnail img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.posts-sort{
    margin-bottom: 40px;
}
.sort-select{
    border-radius: 40px;
    border: 1px solid #6063A666;
    color: #1E1E1E;
    font-size: 20px;
    padding: 8.2px 20px;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(/wp-content/themes/tebe-poveryat/assets/images/arrow-sort.svg);
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 16px;
    width: 324px;
    font-family: "Akrobat";
}
.page-head-btn{
    text-align: right;
    position: absolute;
    right: 24px;
}
.page-head-btn{
    background: #6063A6;
    color: #fff;
    border-radius: 40px;
    padding: 20px 57px;
    font-family: "Geologica";
    font-size: 18px;
    line-height: 150%;
    border:1px solid #6063A6;
    cursor: pointer;
    text-transform: uppercase;
}
.page-head-btn:hover{
    background: #fff;
    color: #6063A6;
}
.blog-single{
    margin-bottom: 160px;
}
.back-blog-button{
    margin: 40px auto 0 auto;
    max-width: 1170px;
}
.back-blog-button a{
    color:#6063A6;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    padding: 16px 36.5px;
    border-radius:50px;
    border: 1px solid #6063A6;
    cursor: pointer;
}
.back-blog-button a:hover{
    background: #6063A6;
    color: #fff;
}
/*
    Анкета (форма с календарём)
*/
.fieldCalendarServicefieldname1_1{
    display: none;
}
#fbuilder #fieldlist_1 .pb0.pbreak{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#field_1-0{order:0;}
#field_1-1{order:10;}
#field_1-2{order:20;}
#field_1-3{order:30;}
#field_1-4{order:40;}
#field_1-5{order:30;}
#field_1-6{order:50;}
#field_1-7{order:60;}
.pbSubmit{order:80;}
#fbuilder_1{
    max-width: 1170px;
    margin: auto;
}
#fbuilder .calendar-col-1{
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    flex: 1 0 calc(50% - 5px);
    max-width: 394px;
}
#fbuilder .calendar-col-1 input{
    width:100%;
    min-width: 394px;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding:12px 20px;
    border-radius: 40px;
    background: #fff;
}
.fieldCalendar{
    max-width: 334px;
}
.ui-state-default {
    font-family: "Geologica";
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
}
.slotsCalendarfieldname1_1{
    display: flex;
    max-width: 334px;
}
.ui-datepicker-calendar tr th span{
    font-family: "Geologica";
    font-weight: 400;
    font-size: 10px;
    line-height: 157%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #7B827E;
}
.dfield.fapp{
    display: flex;
    flex-direction: column;
}
#fieldname8_1{
    max-width: 100%;
}
.calendar-col-1{
    flex: 1;
}
.calendar-col-2{
    flex: 2;
}
.pbSubmit{
    flex: 2;
}
#fbuilder .fields, #fbuilder .fform{
    padding: 0;
}
.anketa-col-1{
    display:flex;
    flex-wrap: wrap;
    max-width: 812px;
    justify-content: space-between;
}
.ui-datepicker-calendar td{
    border-radisus: 4px;
}
.slotsCalendar{
    position: fixed;
    left: 0;
    top: 100px;
}
.anketa-col-1 .fields{
    max-width: 394px;
    width: 394px;
}
.dfield.fapp{
    display: flex;
}
.ui-datepicker-title{
    font-family: "Geologica";
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
    color:#0A1811;
}
#fieldname8_1{
    width: 100%;
    border-radius: 20px;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 12px 20px !important;
}
#fbuilder #field_1-6.calendar-col-1{
    max-width: 100%;
}
#fieldname8_1{
    width: 100%;
    background: #fff;
}
.ahb_list{
    display:none;
}
#cp_appbooking_pform_1{
    background-color: #1C5358;
    background-image:url(/wp-content/themes/tebe-poveryat/assets/images/anketa-bg.png);
}
.ui-datepicker{
    padding: 8px 20px;
    border-radius: 20px;
}
.page-template-template-get-legal-assistance h2.wp-block-heading.has-text-align-center{
    background-color: #1C5358;
    color:#fff;
    padding-top: 180px;
    margin-top: -100px;
    padding-bottom: 40px;
}
.page-template-template-get-legal-assistance h2.wp-block-heading.has-text-align-center:before{
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    margin-top: -100px;
}
.page-template-template-get-legal-assistance .page-head{
    z-index: 30;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .ui-datepicker-inline{
    padding: 20px 8px;
    border-radius: 20px;
}
.ui-datepicker-calendar td{
    border-radius: 4px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default{
    background: #D98B99;
    color: #fff;
}
#cp_appbooking_pform_1.ahb_m4 .ui-datepicker-calendar td a {
    font-family: "Geologica";
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border:1px solid transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder td:not(.ui-datepicker-unselectable) a.ui-state-default:hover{
    background: #fff;
    border: 1px solid #D98B99;
    color:#0A1811;
}
#fbuilder #fbuilder_1 #fieldlist_1 .ui-datepicker-calendar .ui-datepicker-today a{
    background: #fff;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}
#fbuilder #fbuilder_1 #fieldlist_1 .ui-datepicker-calendar .ui-datepicker-today a:after{
    content: '';
    display: block;
    width: calc(100% - 10px);
    height: 2px;
    background: #6063A6;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .ui-datepicker-header{
    padding-top: 0;
}
.slotsCalendar .slots{
    text-align: left !important;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}
.slotsCalendar .slots:before{
    content: 'Выбор времени';
    display: block;
    width:100%;
    background: #FEF1EC;
    padding: 16px 20px 0 20px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.slotsCalendar .slots span{
    width: 100%;
    background: #FEF1EC;
    padding: 0 20px 16px 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    color:#6063A6;
    font-family: "Akrobat";
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
}
.availableslot{
    width: 100%;
}
.availableslot a:after{
    content: "Свободно";
    display:block;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .fieldCalendar, #fbuilder .slotsCalendar{
    z-index: 30;
}
.htmlUsed.choosen a{
    display: block;
}
.htmlUsed.choosen a:after{
    content: 'Занято';
    display: block;
}
.htmlUsed.currentSelection a:after{
    content: 'Свободно';
    color: #fff;
    background: #6063A6;
}
.htmlUsed.currentSelection a{
    color:#fff;
    background: #6063A6;
    border-radius: 16px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots{
    padding:0;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div a{
    display: flex;
    justify-content: space-between;
    border: none;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div{
    padding:0;
    margin:0;
    border: none;
    background: #FEF1EC;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div:first-child{
    border-top-left-radius:16px;
    border-top-right-radius:16px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div:first-child a{
    border-top-left-radius:16px;
    border-top-right-radius:16px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div:last-child{
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div:last-child a{
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    padding: 16px 20px;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div a{
    background:#FEF1EC;
    color: #1E1E1E;
    font-family: "Akrobat";
    font-weight: 800;
    font-size: 20px;
    line-height: 115%;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div.htmlUsed a{
    background:#FBE5EA;
    color: #D98B99;
    font-family: "Akrobat";
    font-weight: 800;
    font-size: 20px;
    line-height: 115%;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div.htmlUsed{
    width: 100%;
}
.slotsCalendar .closer{
    z-index: 30;
    cursor: pointer;
    background-image: url(/wp-content/themes/tebe-poveryat/assets/images/close-icon.svg);
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}
.select-button{
    padding: 16px;
    background: #FEF1EC;
    border-radius: 16px;
    width: 100%;
}
.select-button span{
    color:#fff;
    background: #6063A6;
    padding:16px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-radius: 16px;
    cursor:pointer;
    display: block;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    border: 1px solid #6063A6;
}
.select-button span:hover{
    color: #6063A6;
    background: #fff;
}
#cp_appbooking_pform_1.ahb_m4 #fbuilder .slots div.currentSelection a{
    color: #fff;
    background:#6063a6 !important;
    padding: 16px 20px;
}
.slotsCalendar.slotsCalendarfieldname1_1{
    display:flex;
    flex-wrap: wrap;
}
.slots-content{
    max-height: 378px;
    overflow-y:auto;
    border-radius: 16px;
}
#cp_appbooking_pform_1{
    padding-bottom:144px;
}
#cp_appbooking_pform_1 #fbuilder .pbSubmit{
    font-family: "Geologica";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color:#fff;
    background: rgba(96, 99, 166, 0.4);
    width: 100%;
    margin: 22px 0 0 0;
    border-radius: 40px;
}
.calendar-legend-item .calendar-legend-item-text{
    color: rgba(30, 30, 30, 0.4);
    font-family: "Geologica";
    font-weight: 400;
    font-size: 10px;
    line-height: 157%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

}
.calendar-legend-item:nth-child(1) .calendar-legend-item-marker{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid #D98B99;
}
.calendar-legend-item:nth-child(2) .calendar-legend-item-marker{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid #D98B99;
    background: #D98B99;
}
.calendar-legend-item:nth-child(3) .calendar-legend-item-marker{
    width: 16px;
    height: 2px;
    background: #6063A6;
}
.calendar-legend-item-line{
    color: #1e1e1e;
    font-family: "Geologica";
    font-weight: 400;
    font-size: 10px;
    line-height: 157%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding:0 8px;
}
.calendar-legend-item{
    display: flex;
    align-items: center;
    padding-top: 8px;
}
.calendar-legend{
    margin-top:8px;
    padding:0 20px;
    border-top: 1px solid rgba(30, 30, 30, 0.1);
}
@media(max-width:1400px){
    .page-head-wrapper{
        padding-left: var(--wp--preset--spacing--50);
        padding-right: var(--wp--preset--spacing--50);
    }
}
@media(max-width:1100px){
    .blog-item{
        width:calc(50% - 12px);
    }
}
@media(max-width:1000px){
    .page-head-wrapper{
        flex-direction:column;
    }
    .page-head-description{
        display:none;
    }
    .page-head-wrapper h1{
        padding-top:60px;
        padding-bottom:0;
        font-size:64px;
        text-align: center;
    }
}
@media(max-width:860px){
    .blog-item{
        width:100%;
    }
    .page-head-btn{
        display:none;
    }
    .blog-page .page-head-title{
        font-size:100px;
    }
}
@media(max-width:710px){
    .page-head-wrapper h1{
        font-size: 48px;
    }
    .page-head-wrapper{
        padding-bottom:0;
    }
}
@media(max-width:520px){
    .page-head-wrapper{
        padding-top: 0;
        background-size: 220%;
        background-position-x: 108%;
        background-position-y: 35%;
    }
    .page-head-wrapper h1{
        padding-top: 30px;
        max-width: 290px;
        text-align: center;
    }
    .page-head-wrapper h1{
        font-size: 32px;
    }
    .page-head-picture img{
        max-width:110%;
        margin-left:-5%;
    }
    .blog-page .page-head-title{
        font-size:32px;
    }
    .back-blog-button{
        text-align:center;
    }
}
/*Форма и календарь, страница "Получить юридическую помощь"*/
.ahb_m4 #fbuilder .fields label {
    display: none;
}
.ahb_m4 #fbuilder .ui-datepicker-header {
    background-color: inherit;
    color: #0A1811;
    padding: 0;
    font-family: "Geologica";
}
