.faq-spoiler:before{
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    margin-top: -100px;
}
.faq-spoiler-content{
    max-width: 930px;
    margin:auto;
}
.faq-spoiler-content h2{
    text-align: center;
}