.faq-spoiler:before{
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    margin-top: -100px;
}
.faq-spoiler h2{
    padding-top: 80px;
}
.faq-spoiler-content{
    max-width: 930px;
    margin:auto;
}
.faq-spoiler-content h2{
    text-align: center;
    padding-bottom: 40px;
}
.faq-spoiler-content details{
    background: #FEF1EC;
    border-radius:16px;
    padding:20px 0 20px 24px;
    margin-bottom: 8px;
}
.faq-spoiler-content summary{
    color:#1E1E1E;
    font-family: "Akrobat";
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
}
.faq-details-content{
    color: #19232E;
    font-family: "Geologica";
    font-weight: 300;
    font-size: 23px;
    line-height: 150%;
    padding-top: 8px;
}
.faq-spoiler-content details summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.faq-spoiler-content details .faq-details-content{
    max-width:calc(100% - 100px);
}
.faq-spoiler-content details summary span{
    max-width:calc(100% - 100px);
    display: flex;
    align-items: center;
}
.faq-spoiler-content details summary::marker {display:none;}
.faq-spoiler-content details summary::-webkit-details-marker {display:none;}
.faq-spoiler-content details summary::-moz-list-bullet {list-style-type:none;}
.faq-spoiler-content details summary:after{
    content:'';
    background:url(/wp-content/themes/tebe-poveryat/assets/images/spolier-arrow.svg);
    display:block;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 24px;
}
.faq-spoiler-content details[open] summary:after{
    transform: rotate(90deg);
}