.blog-intro-block{
    display:flex;
    justify-content: center;
    max-width: 1170px;
}
.blog-intro-block .post-meta time{
    margin-bottom: 24px;
}
.blog-single-title{
    font-family: "Akrobat";
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: #1E1E1E;
    margin-bottom:32px;
}
.blog-intro-block .post-meta span{
    font-family: "Geologica";
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #6063A6;
}
.blog-intro-block-text p{
    margin-bottom: 16px;
    color: #1E1E1E;
}
.blog-intro-block-col{
    max-width: 650px;
}
.blog-intro-block-image {
    margin-left:64px;
    margin-top: 48px;
}
.blog-intro-block-image img{
    border-radius:20px;
}
@media(max-width:1200px){
    .blog-intro-block-image {
        margin-left: 32px;
    }
}
@media(max-width:990px){
    .blog-intro-block{
        flex-direction: column-reverse;
    }
    .blog-intro-block-col{
        max-width:100%;
    }
    .blog-intro-block-image{
        margin:0;
    }
    .blog-intro-block-image img{
        width: 100%;
    }
    .blog-intro-block{
        width:100%;
        max-width:calc(100% - 32px);
        margin: 0 16px;
    }
    .blog-intro-block-col .post-meta{
        margin-top:24px;
    }
    .blog-single-title{
        font-size:32px;
    }
}