.block-slider-text{
    display:flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
}
.block-slider-text-col{
    max-width:650px;
}
.block-slider-text_slider-inner-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.block-slider-text_text{
    padding-left:64px;
}