.block-slider-text{
    display:flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    align-items: center;
}
.block-slider-text-col{
    max-width:650px;
}
.block-slider-text_slider-inner-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.block-slider-text_text{
    padding-left:64px;
}
.block-slider-text_text p{
    font-family: "Geologica";
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}
.block-slider-text_slider-navi div{
    position: relative;
}