.block-slider-text{
    display:flex;
    justify-content: center;
    max-width: 1170px;
    margin: 64px auto;
    align-items: center;
}
.block-slider-text-col{
    max-width:650px;
}
.block-slider-text_slider-inner-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.block-slider-text_text{
    padding-left:64px;
}
.block-slider-text_text p{
    font-family: "Geologica";
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}
.block-slider-text_slider-navi div{
    position: relative;
}
.block-slider-text_slider-navi{
    z-index: 99;
    height: 56px;
    display: flex;
    align-items: flex-start;
    width: 130px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: -48px;
    margin-left: 24px;
}
.block-slider-text_slider-navi .cursor-pointer:after{
    color: #fff;
    border: 2px solid #fff;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    border-radius: 50%;
    font-size: 26px;
}