.block-slider-text{
    display:flex;
}
.block-slider-text-col{
    max-width:692px;
}
.block-slider-text_slider-inner-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.block-slider-text_text{
    max-width: 440px;
}