.block-slider-text{
    display:flex;
    justify-content: center;
    max-width: 1170px;
    margin: 54px auto;
    align-items: center;
}
.block-slider-text-col{
    max-width:688px;
}
.block-slider-text_slider-inner-item img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.block-slider-text_text{
    margin-left:42px;
}
.block-slider-text_text p{
    font-family: "Geologica";
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}
.block-slider-text_slider-navi div{
    position: relative;
}
.block-slider-text_slider-navi{
    z-index: 99;
    height: 56px;
    display: flex;
    align-items: flex-start;
    width: 130px;
    margin: -48px auto auto 24px;
    padding: 0;
    position: relative;
}
.block-slider-text_slider-navi .cursor-pointer:after{
    color: #fff;
    border: 2px solid #fff;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 56px;
    border-radius: 50%;
    font-size: 26px;
}
@media(max-width:1200px){
    .block-slider-text_text {
        margin-left: 32px;
    }
}
@media(max-width:990px){
    .block-slider-text{
        flex-direction: column;
        padding: 0 20px;
    }
    .block-slider-text-col{
        max-width:100%;
    }
    .block-slider-text_slider-navi{
        justify-content: space-between;
    }
    .block-slider-text_text{
        margin-left: 0;
    }
}